<section id="billboard" class="pb-5 mb-5">
  <div class="row">
    <div class="col-md-12 main-slider-container">
      <div class="main-slider pattern-overlay-before"></div>
      <div class="main-slider pattern-overlay">
        <div class="slider-item">
          <div class="banner-content">
            <h2 class="banner-title">
              Improve your skills on your own To prepare for a better future
            </h2>
            <div>
              <a
                href="/register"
                class="btn btn-outline-accent btn-accent-arrow"
                >Register Now</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="main-slider pattern-overlay-after"></div>
    </div>
  </div>
</section>

<section id="featured-courses" class="bookshelf py-5 my-5">
  <div class="section-header pt-5 mt-5 align-center">
    <div class="title">
      <span>Discover our selected trainings!</span>
    </div>
    <h2 class="section-title mt-0">Featured Courses</h2>
  </div>
  <div class="container">
    <div class="row">
        <div class="product-list" data-aos="fade-up">
          <div class="row">
            <div *ngIf="getOffres().length === 0">
              Pas d'annonces disponibles
            </div>
            <div *ngFor="let o of getRandOffres()" class="col-md-3">
              <div class="product-item">
                <figure class="product-style">
                  <img [src]="o.image" alt="Books" class="product-item" />
                  <button
                    type="button"
                    class="add-to-cart"
                    data-product-tile="add-to-cart"
                  >
                    Show Details
                  </button>
                </figure>
                <figcaption>
                  <h3>{{ o.nom }}</h3>
                  <span>{{ o.description }}</span>
                  <div class="item-price">
                    $ {{ o.prix }}
                    <span *ngIf="o.remise != null" class="prev-price">
                      $ {{ o.prix - o.remise }}
                    </span>
                  </div>
                </figcaption>
              </div>
            </div>
        <!--grid-->
      </div>
      <!--inner-content-->
    </div>
  </div></div>
</section>

<section id="popular-courses" class="bookshelf py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header align-center">
          <h2 class="section-title">All available trainings</h2>
        </div>

        <ul class="tabs">
          <li
            *ngFor="let c of categories"
            [attr.data-tab-target]="'#' + formatCategory(c)"
            [ngClass]="{ tab: true, active: c == 'All Genre' }"
          >
            {{ c }}
          </li>
        </ul>

        <div class="tab-content">
          <div
            *ngFor="let c of categories"
            [id]="formatCategory(c)"
            data-tab-content
            [ngClass]="{ active: c == 'All Genre' }"
          >
            <div class="row">
              <div *ngFor="let o of getOffresByCategorie(c)" class="col-md-3">
                <div class="product-item">
                  <figure class="product-style">
                    <img [src]="o.image" alt="Books" class="product-item" />
                    <button
                      type="button"
                      class="add-to-cart"
                      data-product-tile="add-to-cart"
                    >
                      Show Details
                    </button>
                  </figure>
                  <figcaption>
                    <h3>{{ o.nom }}</h3>
                    <span>{{ o.description }}</span>
                    <div class="item-price">
                      $ {{ o.prix }}
                      <span *ngIf="o.remise != null" class="prev-price">
                        $ {{ o.prix - o.remise }}
                      </span>
                    </div>
                  </figcaption>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--inner-tabs-->
    </div>
  </div>
</section>

<section id="quotation" class="align-center">
  <div class="inner-content">
    <h2 class="section-title divider">Quote of the day</h2>
    <blockquote data-aos="fade-up">
      <q
        >“The more that you read, the more things you will know. The more that
        you learn, the more places you’ll go.”</q
      >
      <div class="author-name">Dr. Seuss</div>
    </blockquote>
  </div>
</section>

<section id="special-offer" class="bookshelf pb-5 mb-5">
  <div class="section-header align-center">
    <div class="title">
      <span>Grab your opportunity</span>
    </div>
    <h2 class="section-title">Courses with offer</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="inner-content">
        <div class="product-list" data-aos="fade-up">
          <div class="grid product-grid">
            <div *ngIf="getRemiseOffres().length === 0">
              Pas d'annonces disponibles
            </div>
            <div *ngFor="let o of getRemiseOffres()" class="product-item">
              <figure class="product-style">
                <img [src]="o.image" alt="Books" class="product-item" />
                <button
                  type="button"
                  class="add-to-cart"
                  data-product-tile="add-to-cart"
                >
                  Show Details
                </button>
              </figure>
              <figcaption>
                <h3>{{ o.nom }}</h3>
                <span>{{ o.description }}</span>
                <div class="item-price">
                  $ {{ o.prix }}
                  <span *ngIf="o.remise != null" class="prev-price">
                    $ {{ o.prix - o.remise }}
                  </span>
                </div>
              </figcaption>
            </div>
          </div>
          <!--grid-->
        </div>
      </div>
      <!--inner-content-->
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="title-element">
              <h2 class="section-title divider">Have a question?</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-content" data-aos="fade-up">
              <p>
                If you have any questions please feel free to contact us at any
                time.
              </p>
              <form>
                <div class="row mb-1 bg-transparent">
                  <input
                    class="form-control border border-white"
                    type="text"
                    name="name"
                    placeholder="Enter your name here"
                  />
                </div>
                <div class="row mb-1 bg-transparent">
                  <input
                    class="form-control border border-white"
                    type="text"
                    name="email"
                    placeholder="Enter your email addresss here"
                  />
                </div>
                <div class="row mb-1">
                  <textarea
                    class="bg-transparent form-control border border-white"
                    name="email"
                    placeholder="Write your thoughts here"
                  ></textarea>
                </div>
                <button class="btn-contact">
                  <span>send</span>
                  <i class="icon icon-send"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="latest-blog" class="py-5 my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header align-center">
          <div class="title">
            <span>Read our articles</span>
          </div>
          <h2 class="section-title">Latest Articles</h2>
        </div>

        <div class="row">
          <div class="col-md-4">
            <article class="column" data-aos="fade-up">
              <figure>
                <a href="#" class="image-hvr-effect">
                  <img
                    src="/assets/images/post-img1.jpg"
                    alt="post"
                    class="post-image"
                  />
                </a>
              </figure>

              <div class="post-item">
                <div class="meta-date">Mar 30, 2021</div>
                <h3>
                  <a href="#">Reading books always makes the moments happy</a>
                </h3>

                <div class="links-element">
                  <div class="categories">inspiration</div>
                  <div class="social-links">
                    <ul>
                      <li>
                        <a href="#"><i class="icon icon-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon icon-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon icon-behance-square"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--links-element-->
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="column" data-aos="fade-up" data-aos-delay="200">
              <figure>
                <a href="#" class="image-hvr-effect">
                  <img
                    src="/assets/images/post-img2.jpg"
                    alt="post"
                    class="post-image"
                  />
                </a>
              </figure>
              <div class="post-item">
                <div class="meta-date">Mar 29, 2021</div>
                <h3>
                  <a href="#">Reading books always makes the moments happy</a>
                </h3>

                <div class="links-element">
                  <div class="categories">inspiration</div>
                  <div class="social-links">
                    <ul>
                      <li>
                        <a href="#"><i class="icon icon-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon icon-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon icon-behance-square"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--links-element-->
              </div>
            </article>
          </div>
          <div class="col-md-4">
            <article class="column" data-aos="fade-up" data-aos-delay="400">
              <figure>
                <a href="#" class="image-hvr-effect">
                  <img
                    src="/assets/images/post-img3.jpg"
                    alt="post"
                    class="post-image"
                  />
                </a>
              </figure>
              <div class="post-item">
                <div class="meta-date">Feb 27, 2021</div>
                <h3>
                  <a href="#">Reading books always makes the moments happy</a>
                </h3>

                <div class="links-element">
                  <div class="categories">inspiration</div>
                  <div class="social-links">
                    <ul>
                      <li>
                        <a href="#"><i class="icon icon-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon icon-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icon icon-behance-square"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--links-element-->
              </div>
            </article>
          </div>
        </div>

        <div class="row">
          <div class="btn-wrap align-center">
            <a
              href="#"
              class="btn btn-outline-accent btn-accent-arrow"
              tabindex="0"
              >Read All Articles<i class="icon icon-ns-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
